.img1 {
  animation: img1-anim 10s linear 0ms infinite normal backwards;
}

.img2 {
  animation: img2-anim 8s linear 0ms infinite normal backwards;
}

@keyframes img1-anim {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0px, 30px, 0)
  }

  100% {
    transform: translate3d(0px, 0px, 0)
  }
}

@keyframes img2-anim {
  0% {
    transform: translate3d(0px, 0px, 0)
  }

  50% {
    transform: translate3d(0px, 20px, 0)
  }

  100% {
    transform: translate3d(0px, 0px, 0)
  }
}

.custom.slick-dots .slick-active button {
  background: #000 !important;
}

.custom.slick-dots button {
  background: rgba(0, 0, 0, .7) !important;
}