@tailwind base;
@tailwind components;
@tailwind utilities;

/* 解决antd菜单不垂直居中的问题 */

.ant-menu-item {
  display: flex !important;
  align-items: center;
}

.ant-menu-submenu-title {
  display: flex !important;
  align-items: center;
}

/* 解决antd收起菜单选中状态背景色问题 */

.ant-menu-inline-collapsed .ant-menu-submenu.ant-menu-submenu-vertical.ant-menu-submenu-selected .ant-menu-submenu-title {
  background-color: var(--ant-menu-item-selected-bg);
  display: flex !important;
}

.dark .ant-menu-inline-collapsed .ant-menu-submenu.ant-menu-submenu-vertical.ant-menu-submenu-selected .ant-menu-submenu-title {
  background-color: var(--ant-menu-dark-item-selected-bg);
}

body {
  transition: background-color 0.3s;
}
